@model WebCalendar.Areas.Cal.Models.CalendarBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendarBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EndFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
